<!DOCTYPE html>
<html class="wf-opensans-n3-active wf-opensans-n4-active wf-opensans-n7-active wf-opensanscondensed-n3-active wf-opensanscondensed-n7-active wf-rokkitt-n4-active wf-rokkitt-n7-active wf-active">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Image Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="TinEye Reverse Search Engine">
    <link href="{{static_url('TinEyeReverseImageSearch_files/bootstrap.min.css')}}" media="screen, projection"
          rel="stylesheet" type="text/css">
    <link href="{{static_url('TinEyeReverseImageSearch_files/base.min.css')}}" media="screen, projection"
          rel="stylesheet" type="text/css">
    <link href="{{static_url('TinEyeReverseImageSearch_files/home.min.css')}}" media="screen, projection"
          rel="stylesheet" type="text/css">
    <script src="{{static_url('TinEyeReverseImageSearch_files/jquery-1.11.0.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('TinEyeReverseImageSearch_files/base.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('TinEyeReverseImageSearch_files/webfont.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('TinEyeReverseImageSearch_files/css')}}" media="all">
    <script type="text/javascript">
        WebFont.load({
            google: {families: ['Open+Sans:300,400,700:latin', 'Open+Sans+Condensed:300,700:latin', 'Rokkitt:400,700:latin']},
            timeout: 2000
        });
    </script>
    <script src="{{static_url('TinEyeReverseImageSearch_files/home.min.js')}}" type="text/javascript"></script>
</head>
<body style="width: 100%; height: 100%;">
    <div class="search-container">
        <div class="search container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <h1>Reverse Image Search</h1>
                    <h3 class="index-size"></h3>
                    <div class="forms">
                        <form id="upload_form" method="post" action="file" enctype="multipart/form-data">
                            <label for="upload_box" id="upload-button"></label>
                            <input id="upload_box" name="image" onchange="display_throbber(); this.form.submit()"
                                   title="Upload an image" type="file">
                            <input style="display: none;" id="file_submit" value="Upload Image" class="submit"
                                   type="submit">
                        </form>
                        <form id="url_form" method="post" action="file" onsubmit="display_throbber();">
                            <div class="input-container">
                                <input class="image-url" id="url_box" name="url" maxlength="100000"
                                       placeholder="Upload or enter Image URL"
                                       onfocus="this.form.search_button.disabled=false" type="text">
                            </div>
                            <input class="submit-button" id="url_submit" name="search_button" value="" type="submit"
                                   disabled="disabled">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>